[package]
name = "hanzo-kernels"
version.workspace = true
edition.workspace = true
description.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true
license.workspace = true

[dependencies]

[build-dependencies]
bindgen_cuda = "0.1.5"
